<a href="https://colab.research.google.com/github/sittinuraisya/datamining/blob/main/F1G122031_Sitti_Nur_Aisya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [44]:
data = {
    'Hari': [2, 3, 4, 5, 6, 0, 1, 2, 3, 4],
    'Tanggal': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Kegiatan': [np.nan] * 10,
'Curah Hujan (mm)': [1.4, 1.2, 15.2, 13.4, 7.7, 0.6, 1, 0, 0, 3.2],
    'Penjualan (pcs)': [0, 27, 458, 20, 7, 0, 4, 350, 1, 240],
    'Kategori CH': ['Rendah', 'Rendah', 'Tinggi', 'Tinggi', 'Sedang', 'Rendah', 'Rendah', 'Tidak Hujan', 'Tidak Hujan', 'Tinggi']
}

In [45]:
dp = pd.DataFrame(data)

In [46]:
print(dp)

   Hari  Tanggal  Kegiatan  Curah Hujan (mm)  Penjualan (pcs)  Kategori CH
0     2        1       NaN               1.4                0       Rendah
1     3        2       NaN               1.2               27       Rendah
2     4        3       NaN              15.2              458       Tinggi
3     5        4       NaN              13.4               20       Tinggi
4     6        5       NaN               7.7                7       Sedang
5     0        6       NaN               0.6                0       Rendah
6     1        7       NaN               1.0                4       Rendah
7     2        8       NaN               0.0              350  Tidak Hujan
8     3        9       NaN               0.0                1  Tidak Hujan
9     4       10       NaN               3.2              240       Tinggi

In [53]:
mean_values = dp.mean(numeric_only=True)
median_values = dp.median(numeric_only=True)
mode_values = dp.mode().iloc[0]

In [54]:
print("\nMean:\n", mean_values)
print("\nMedian:\n", median_values)
print("\nMode:\n", mode_values)

Mean:
 Hari                  3.00
Tanggal               5.50
Kegiatan               NaN
Curah Hujan (mm)      4.37
Penjualan (pcs)     110.70
dtype: float64

Median:
 Hari                 3.0
Tanggal              5.5
Kegiatan             NaN
Curah Hujan (mm)     1.3
Penjualan (pcs)     13.5
dtype: float64

Mode:
 Hari                   2.0
Tanggal                  1
Kegiatan               NaN
Curah Hujan (mm)       0.0
Penjualan (pcs)        0.0
Kategori CH         Rendah
Name: 0, dtype: object

In [56]:
label_encoder = LabelEncoder()
dp['Kategori CH Encoded'] = label_encoder.fit_transform(dp['Kategori CH'])

In [57]:
print("\nData setelah Label Encoding:\n", dp)

Data setelah Label Encoding:
    Hari  Tanggal  Kegiatan  Curah Hujan (mm)  Penjualan (pcs)  Kategori CH  \
0     2        1       NaN               1.4                0       Rendah
1     3        2       NaN               1.2               27       Rendah
2     4        3       NaN              15.2              458       Tinggi
3     5        4       NaN              13.4               20       Tinggi
4     6        5       NaN               7.7                7       Sedang
5     0        6       NaN               0.6                0       Rendah
6     1        7       NaN               1.0                4       Rendah
7     2        8       NaN               0.0              350  Tidak Hujan
8     3        9       NaN               0.0                1  Tidak Hujan
9     4       10       NaN               3.2              240       Tinggi

   Kategori CH Encoded
0                    0
1                    0
2                    3
3                    3
4                    1
5                    0
6                    0
7                    2
8                    2
9                    3

In [58]:
scaler = StandardScaler()
dp[['Curah Hujan (mm)', 'Penjualan (pcs)']] = scaler.fit_transform(dp[['Curah Hujan (mm)', 'Penjualan (pcs)']])

In [60]:
print("\nData setelah Standardisasi:\n", dp)

Data setelah Standardisasi:
    Hari  Tanggal  Kegiatan  Curah Hujan (mm)  Penjualan (pcs)  Kategori CH  \
0     2        1       NaN         -0.547824        -0.675560       Rendah
1     3        2       NaN         -0.584715        -0.510789       Rendah
2     4        3       NaN          1.997621         2.119441       Tinggi
3     5        4       NaN          1.665607        -0.553508       Tinggi
4     6        5       NaN          0.614227        -0.632842       Sedang
5     0        6       NaN         -0.695386        -0.675560       Rendah
6     1        7       NaN         -0.621605        -0.651150       Rendah
7     2        8       NaN         -0.806058         1.460357  Tidak Hujan
8     3        9       NaN         -0.806058        -0.669458  Tidak Hujan
9     4       10       NaN         -0.215809         0.789069       Tinggi

   Kategori CH Encoded
0                    0
1                    0
2                    3
3                    3
4                    1
5                    0
6                    0
7                    2
8                    2
9                    3